.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main_container{
    flex-grow:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}